.search {
  display: flex;
  border: 1px solid gray;
  margin-top: 40px;
  margin-left: 20px;
  margin-right: 20px;
  padding-bottom: 40px;
}

.search_title {
  margin-top: 20px;
  margin-left: 20px;
}

.search_input {
  display: flex;
  align-items: center;
  border: 1px solid lightgray;
  height: 30px;
  padding: 10px 10px;
  width: 75vw;
  margin: 0 auto;
  margin-top: 40px;
  max-width: 560px;
}

.search_input > input {
  flex: 1;
  padding: 10px 20px;
  font-size: medium;
  border: none;
}
